In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
data = {
    "Math": [85, 78, 92, 60, 74, 88],
    "Science": [80, 82, 89, 65, 70, 90],
    "English": [75, 85, 78, 55, 72, 88],
    "History": [70, 75, 80, 50, 68, 82]
}

In [9]:
students = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"]

In [10]:
exam_scores = pd.DataFrame(data, index=students)

In [11]:
# 1. Display the first three rows of the exam_scores DataFrame
print(exam_scores.head(3))

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    78       82       85       75
Student 3    92       89       78       80

In [12]:
# 2. Get the total number of students and subjects recorded in the DataFrame
num_students, num_subjects = exam_scores.shape
print(f"Number of students: {num_students}, Number of subjects: {num_subjects}")

Number of students: 6, Number of subjects: 4

In [13]:
# 3. List all subject names and student names
subject_names = exam_scores.columns.tolist()
student_names = exam_scores.index.tolist()
print(f"Subjects: {subject_names}")
print(f"Students: {student_names}")

Subjects: ['Math', 'Science', 'English', 'History']
Students: ['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6']

In [14]:
# 4. Display the data type of each column in the DataFrame
print(exam_scores.dtypes)

Math       int64
Science    int64
English    int64
History    int64
dtype: object

In [15]:
# 5. Check if there are any missing values in the DataFrame
print(exam_scores.isnull().sum())

Math       0
Science    0
English    0
History    0
dtype: int64

In [16]:
# 6. Retrieve the scores of "Student 3" in all subjects
student_3_scores = exam_scores.loc["Student 3"]
print(f"Student 3's scores: {student_3_scores}")

Student 3's scores: Math       92
Science    89
English    78
History    80
Name: Student 3, dtype: int64

In [17]:
# 7. Extract the scores of all students in "Math"
math_scores = exam_scores["Math"]
print(f"Math scores for all students: {math_scores}")

Math scores for all students: Student 1    85
Student 2    78
Student 3    92
Student 4    60
Student 5    74
Student 6    88
Name: Math, dtype: int64

In [18]:
# 8. Retrieve the scores of "Student 1" and "Student 4" in "Science" and "English"
selected_scores = exam_scores.loc[["Student 1", "Student 4"], ["Science", "English"]]
print(f"Scores of Student 1 and Student 4 in Science and English:\n{selected_scores}")

Scores of Student 1 and Student 4 in Science and English:
           Science  English
Student 1       80       75
Student 4       65       55

In [19]:
# 9. Slice the DataFrame to get the first 4 students and the first 3 subjects
sliced_data = exam_scores.iloc[:4, :3]
print(f"Scores of first 4 students in first 3 subjects:\n{sliced_data}")

Scores of first 4 students in first 3 subjects:
           Math  Science  English
Student 1    85       80       75
Student 2    78       82       85
Student 3    92       89       78
Student 4    60       65       55

In [20]:
# 10. Retrieve the score of "Student 5" in "History" using .loc
student_5_history_score = exam_scores.loc["Student 5", "History"]
print(f"Student 5's score in History: {student_5_history_score}")

Student 5's score in History: 68

In [21]:
# 11. Update the score of "Student 2" in "Math" to 85
exam_scores.loc["Student 2", "Math"] = 85
print(f"Updated exam scores:\n{exam_scores}")

Updated exam scores:
           Math  Science  English  History
Student 1    85       80       75       70
Student 2    85       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82

In [22]:
# 12. Add a new student, "Student 7", with scores [90, 85, 88, 80] for all subjects
exam_scores.loc["Student 7"] = [90, 85, 88, 80]
print(f"Exam scores after adding Student 7:\n{exam_scores}")

Exam scores after adding Student 7:
           Math  Science  English  History
Student 1    85       80       75       70
Student 2    85       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82
Student 7    90       85       88       80

In [23]:
# 13. Add 5 bonus marks to all students' scores
exam_scores += 5
print(f"Scores after adding 5 bonus marks:\n{exam_scores}")

Scores after adding 5 bonus marks:
           Math  Science  English  History
Student 1    90       85       80       75
Student 2    90       87       90       80
Student 3    97       94       83       85
Student 4    65       70       60       55
Student 5    79       75       77       73
Student 6    93       95       93       87
Student 7    95       90       93       85

In [24]:
# 14. Deduct 3 marks from the scores of "Student 4" in all subjects
exam_scores.loc["Student 4"] -= 3
print(f"Scores after deducting 3 marks from Student 4:\n{exam_scores}")

Scores after deducting 3 marks from Student 4:
           Math  Science  English  History
Student 1    90       85       80       75
Student 2    90       87       90       80
Student 3    97       94       83       85
Student 4    62       67       57       52
Student 5    79       75       77       73
Student 6    93       95       93       87
Student 7    95       90       93       85

In [25]:
# 15. Calculate the percentage of marks obtained by each student, assuming each subject has a maximum of 100 marks
percentage = exam_scores.sum(axis=1) / (100 * num_subjects) * 100
print(f"Percentage of marks obtained by each student:\n{percentage}")

Percentage of marks obtained by each student:
Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    59.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64

In [26]:
# 16. Calculate the total marks obtained by each student
total_marks_per_student = exam_scores.sum(axis=1)
print(f"Total marks scored by each student:\n{total_marks_per_student}")

Total marks scored by each student:
Student 1    330
Student 2    347
Student 3    359
Student 4    238
Student 5    304
Student 6    368
Student 7    363
dtype: int64

In [27]:
# 17. Determine the total marks scored in each subject
total_marks_per_subject = exam_scores.sum(axis=0)
print(f"Total marks scored in each subject:\n{total_marks_per_subject}")

Total marks scored in each subject:
Math       606
Science    593
English    573
History    537
dtype: int64

In [28]:
# 18. Identify the student with the highest total marks
highest_total_marks_student = total_marks_per_student.idxmax()
print(f"Student with the highest total marks: {highest_total_marks_student}")

Student with the highest total marks: Student 6

In [29]:
# 19. Find the subject with the lowest total marks
lowest_total_marks_subject = total_marks_per_subject.idxmin()
print(f"Subject with the lowest total marks: {lowest_total_marks_subject}")

Subject with the lowest total marks: History

In [30]:
# 20. Compute the average marks scored by each student across all subjects
average_marks_per_student = exam_scores.mean(axis=1)
print(f"Average marks scored by each student:\n{average_marks_per_student}")

Average marks scored by each student:
Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    59.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64